<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <%if @user.avatar.attached? %>
          <%= image_tag @user.avatar%>
        <%else%>
          <%=image_tag(asset_path("Avatar.png"))%>
        <%end%>
      </div>
    </div>
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%=@user.name%></h2>
        <% if current_user== @user %>
          <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
            <button>Edit Profile</button>
          </a>
        <% end %>
      </div>
      <ul class="posts">
        <li><span><%= @posts.count %></span> posts</li>
        <%=render "stats" %>
      </ul>
      <%= render "follow_form" if logged_in? %>
    </div>
  </div>
</div>

<ul class="user-tabs" id="user_tabs">
  <li>
    <a class="tab active" href="#user_images_tab">
      <i class="fa fa-th"></i>
        POSTS
    </a>
  </li>
  <li>
    <a class="tab" href="#saved_tab">
      <i class="fa fa-bookmark"></i>
      SAVED
    </a>
  </li>
  <li>
    <a class="tab" href="#">
      <i class="fa fa-tag"></i>
      TAGGED
    </a>
  </li>
</ul>
<div class="tab_item">
  <div class="user-images" id="user_images_tab">
    <% @posts.each do |post|%>
      <%if post.user_id == @user.id %>
        <div class="wrapper">
          <%=link_to post_path(post) do%>
            <%= image_tag post.image, class: 'main-image img-responsive' %>
          <%end %>
        </div>
      <%end %>
    <% end %>
  </div>
  <div class="user-images" id="saved_tab">
    <% @user.savers.each do |saver|%>
      <%if saver.user_id == current_user.id && saver.user_id == @user.id %>
        <div class="wrapper">
        <%=link_to post_path(saver.post) do%>
            <%= image_tag saver.post.image, class: 'main-image' %>
          <%end %>
        </div>
      <%end %>
    <% end %>
  </div>
</div>
